{% extends "layout.html" %}
{% block body %}

<div class="container">
    <div class="row">
        {% for key, type in data.items() %}
        <div class="col-md-12 md-4">
        <br>
            <div class="card">
                <div class="card-header">  
                    <h1>{{ key.replace('_', ' ').capitalize() }}</h1>
                </div>
                {% if isinstance(data[key], dict) %}
                <div class="card-body">
                    {% for title in data[key] %}
                    
                        {% if isinstance(data[key][title], dict) %}
                        
                            <div class="card-header">  
                                <h3 class="mb-2 text-muted">{{ title.replace('_', ' ').capitalize() }}</h3>
                            </div>
                            <div class="card-body">
                                {% for subcategory in data[key][title] %}
                                    <div class="card-content">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-default">{{ subcategory.replace('_', ' ').capitalize() }}</span>
                                            </div>
                                            <input type="{{ data[key][title][subcategory] }}" class="form-control" name="{{ subcategory }}" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                        </div>  
                                    </div>                                        
                                {% endfor %}
                            </div> 
                        
                        {% else %}
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">{{ title.replace('_', ' ').capitalize() }}</span>
                                </div>
                                <input type="{{ data[key][title] }}" class="form-control" name="{{ title }}" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            </div>  
                        {% endif %}
                        
                    {% endfor %}
                    </div>
                {% else %}
                    <div class="card">
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">{{ key.replace('_', ' ').capitalize() }}</span>
                                </div>
                                <input type="text" class="form-control" name="{{ key }}" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            </div>                                
                        </div>
                    </div>
                {% endif %}
            </div>
            <br>
        </div>
        {% endfor %}
    </div>
    <br>

</div>
{% endblock %}