{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-5 mx-md-auto pt-5">
            {% if not current_user.is_authenticated %}
            <h1 class="text-primary text-center">ARHITECTUS</h1>
            <h4 class="text-light text-center">H O C U S   P O C U S</h4>
            <h6 class="text-muted text-center">READY TO BE A LEGEND ?</h6>
            <br>
            <!-- <img class="welcome_image" src="{{ url_for('static', filename='img/welcome_image.jpg') }}" alt="Welcome Image"> -->
            {% endif %}
            
            <div class="my-3">
                {% if current_user.is_authenticated %}
                <p class="w-100 text-center p-2 my-3 border border-success text-success rounded">You are logged in as {{ current_user.display_name() }}</p>
                {% else %}
                <a class="btn btn-primary my-3 w-100" href="{{ url_for('login') }}">Login</a>
                <p class="text-light">Don't have an account? <a href="{{ url_for('register') }}">Sign up here</a>.</p>
                <hr class="my-3" />
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
